@model Lab2_IT_211189.Models.EventModel
@{
    ViewBag.Title = "NewEvent";
}

<h2>Add new event: </h2>
@using (Html.BeginForm("InsertNewEvent", "Event"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Location)
        @Html.TextBoxFor(m => m.Location)
    </div>
    <button type="submit" class="btn btn-default">Add</button>
}